.footer {

  display: grid;
  text-align: center;
  align-content: center;

  bottom: 10px;
  right: 10px;

  font-size: 10px;
  height: 4em;

  padding-top: 0.5em;

}

.disclaimer-link {
  text-decoration: none;
  color: black
}