

.idea/vcs.xml
.idea/workspace.xml

python_programm/Marschzeittabelle_Generiert.xlsx
python_programm/.idea/vcs.xml
python_programm/.idea/vcs.xml
python_programm/.idea/other.xml
python_programm/.idea/misc.xml
python_programm/.idea/vcs.xml
python_programm/.idea/misc.xml
python_programm/.idea/Marschzeittabelle.iml
