services:

  awt-cypress:

    build:
      context: ./e2e
      dockerfile: Dockerfile

    depends_on:
      awt-frontend:
        condition: service_healthy

    environment:
      - CYPRESS_baseUrl=http://awt-frontend

    entrypoint: cypress run --browser chrome

    # share the current folder as volume to avoid copying
    working_dir: /opt/e2e
    volumes:
      - ./e2e:/opt/e2e

  awt-docs:

    build:
      context: docs/.
      dockerfile: Dockerfile

    env_file:
      - .env.ci-testing

  awt-tile-cache:
    env_file:
      - .env.ci-testing

  awt-mapfish-print-server:

    healthcheck:
      test: "curl -f http://localhost:8080"
      interval: 2s
      timeout: 1s
      retries: 60

    env_file:
      - .env.ci-testing

  awt-swiss-tml-api:

    build:
      context: swiss_TLM_api/.
      dockerfile: Dockerfile

    healthcheck:
      test: "curl -f http://localhost:1848/ready | grep 'ready'"
      interval: 2s
      timeout: 1s
      retries: 180

    env_file:
      - .env.ci-testing

  awt-backend:

    build:
      context: backend/.
      dockerfile: Dockerfile

    depends_on:
      awt-mapfish-print-server:
        condition: service_healthy
      awt-swiss-tml-api:
        condition: service_healthy

    env_file:
      - .env.ci-testing

  awt-frontend:

    build:
      context: .
      dockerfile: frontend/Dockerfile
      # Used in the first stage of the Dockerfile, thus these env vars must be passed as args
      args:
        - ENVIRONMENT_FILE=.env.ci-testing

    healthcheck:
      test: "curl -f http://localhost:80"
      interval: 2s
      timeout: 1s
      retries: 180

    env_file:
      - .env.ci-testing
