version: "3.9"

services:

  awt-docs:
    build:
      context: docs/.
      dockerfile: local-dev.Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./docs:/app/src
      - /app/src/.vitepress/dist
      - /app/src/node_modules
    env_file:
      - .env.local-dev

  awt-tile-cache:
    build: tile_caching
    env_file:
      - .env.local-dev

  awt-mapfish-print-server:
    build: mapfish_print_server/.
    ports:
      - "8080:8080"
    depends_on:
      - awt-tile-cache
    env_file:
      - .env.local-dev

  awt-swiss-tml:
    build:
      context: swiss_TLM_api/.
      dockerfile: local-dev.Dockerfile
    ports:
      - "1848:1848"
    volumes:
      - ./swiss_TLM_api:/app
    env_file:
      - .env.local-dev

  awt-backend:
    build:
      context: backend/.
      dockerfile: local-dev.Dockerfile
    ports:
      - "5000:5000"

    volumes:
      - ./backend:/app

    depends_on:
      - awt-mapfish-print-server
      - awt-swiss-tml
    environment:
      TZ: Europe/Zurich
    env_file:
      - .env.local-dev

  awt-frontend:
    build:
      context: .
      dockerfile: frontend/local-dev.Dockerfile
      # Used in the first stage of the Dockerfile, thus these env vars must be passed as args
      args:
        - ENVIRONMENT_FILE=.env.local-dev

    volumes:
      - ./frontend/src:/app/src
      # Mount git info to container
      - ./.git/HEAD:/app/.git/HEAD
      - ./.git/refs/heads/:/app/.git/refs/heads/

    ports:
      - "80:80"
    depends_on:
      - awt-backend
    env_file:
      - .env.local-dev