#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#logo {
  position: absolute;
  max-width: 550px;
  width: 60%;
  left: 40px;
  top: 20px;
  opacity: 1;
}

#mousePosition {
  position: fixed;
  display: block;
  bottom: 0;
  left: 65px;
  font-size: 11px;
  height: 35px;
  width: 250px;
  z-index: 1000;
  color: #000;
}

.content {

  margin: 180px auto 50px auto;

  background-color: #ffffffe3;
  padding: 50px 50px;
  max-width: 700px;
  overflow: auto;

  max-height: calc(100vh - 330px);
  position: relative;

}

@media (min-height: 1500px), (min-width: 1500px) {

  .content {
    margin: 0;
    position: fixed;
    right: 0;
    background-color: #ffffff;
    max-height: 100vh;
    height: 100vh;
    width: 700px;
  }

  #map-canvas {
    width: calc(100vw - 800px);
  }

}


::ng-deep .content h1, ::ng-deep .content h2 {
  text-align: center;
}

#logo_small {
  display: none;
}

@media (max-height: 1000px), (max-width: 750px) {
  .content {
    margin: 45px auto 20px auto;
    max-height: calc(100% - 140px);
  }
  #logo {
    display: none;
  }
  #logo_small {
    display: block;
    width: 150px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

