#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
}

#logo {
  position: absolute;
  max-width: 550px;
  width: 60%;
  left: 20px;
  top: 20px;
  opacity: 1;
}


.content {

  margin: 180px auto auto;

  background-color: #ffffffa0;
  padding: 50px 50px;
  max-width: 700px;
  overflow: auto;

}

#logo_small {
  display: none;
}

@media (max-height: 1000px), (max-width: 750px) {
  .content {
    margin: 45px auto 20px auto;
    max-height: calc(100% - 140px);
  }
  #logo{
    display: none;
  }
  #logo_small {
    display: block;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

