.buttons {

  display: grid;
  justify-content: center;


}


#export-button {

  margin-top: 25px;

}

.slider {

  margin: 10px 0 0;
  display: grid;
  grid-template-columns: 220px auto;

}

.mat-stepper-vertical {
  background-color: transparent;
}



.slider label {

  line-height: 45px;

}

.content-block{
  margin-bottom: 20px;
}

.full-width{
  width: 100%;
}
