<app-display-map>



  <div class="buttons">

    <h2>J+S-Marschzeittabellen automatisiert generieren</h2>

    <ng-container *ngIf="!pending else loading">
      <input type="file" id="uploader" (input)="gpx_uploaded()"
             id="uploader" accept=".gpx">

      <button id="export-button" (click)="download_map()">Generieren lassen</button>
    </ng-container>

    <ng-template #loading>
      Marschzeittabelle wird erstellt, wir bitten um Geduld.
    </ng-template>


    <ng-container *ngIf="showDownloadLink">
      <br/>
      <a href="http://localhost:5000/download/{{uuid}}">Download Data</a>
    </ng-container>

  </div>


</app-display-map>


<app-footer></app-footer>


