<app-display-map>


  <div class="buttons">

    <h2>J+S-Marschzeittabellen automatisiert generieren</h2>

    <ng-container *ngIf="!pending else pendingText">
      <input type="file" id="uploader" id="uploader" accept=".gpx">

      <button id="export-button" (click)="download_map()">Generieren lassen</button>
    </ng-container>

    <ng-template #pendingText>
      <p> Marschzeittabelle wird erstellt, wir bitten um Geduld.</p>
      <p> <b>Status:</b> {{status}} <br> <b>Message:</b> {{status_message}} </p>
    </ng-template>

  </div>


</app-display-map>


<app-footer></app-footer>
