<div class="header">

  <mat-icon class="show-main-menu" alt="Hauptmenü" matTooltip="Hauptmenü" (click)="showMenu()">menu</mat-icon>

  <app-header-nav class="header-nav"></app-header-nav>

  <!-- Path
  <div class="nav-link-list" *ngIf="getPath()">

    <ng-container *ngFor="let item of getPath(); let i = index">

      <ng-container *ngIf="item != ''">
        <p class="nav-separator" *ngIf="i != 0"> · </p>
        <p (click)="navigateTo( i )" class="clickable">{{item}}</p>
      </ng-container>

    </ng-container>

  </div>
 -->

</div>
