<a class="iconText" routerLink="/" atTooltip="Zur Startseite">
  <img class="logo" src="/assets/icons/logo.svg" width="30" heigth="30" alt="Logo Cevi Züri 11">
  <span class="logoName">Cevi Züri 11</span>
  <span class="logoSubname">8052 Zürich</span>
</a>


<hr/>

<div class="nav" (click)="closeMenu()">

  <ul class="top">
    <li routerLink="/">
      <a matTooltip="Über Marschzeittabellen">Startseite</a>
    </li>
    <li routerLink="/infos" routerLinkActive="active-link">
      <a matTooltip="Weitere Informationen">Informationen</a>
    </li>
    <hr/>
    <li routerLink="/planen" routerLinkActive="active-link">
      <a matTooltip="Mit Planen beginnen">Route Planen</a>
    </li>
  </ul>

</div>

