<h2>J+S-Marschzeittabellen automatisiert generieren</h2>

<button mat-stroked-button color="primary" class="help-button" routerLink="guide"> So funktioniert es!
</button>

<form [formGroup]="options">

  <mat-stepper orientation="vertical">

    <mat-step [hasError]="!gpx_uploaded" errorMessage="GPX Datei fehlt!">

      <ng-template matStepLabel>Route Hochladen</ng-template>

      <div class="content-block">
        <p>
          Lade eine GPX-Datei hoch. Diese kannst du aus SchweizMobil oder der Swisstopo-App exportieren.
        </p>

        <app-upload-area *ngIf="!gpx_uploaded" class="upload-area" (file_uploaded)="new_gpx_uploaded($event)"></app-upload-area>
        <app-download *ngIf="gpx_uploaded && gpx_file"  [name]="gpx_file?.name" [changeDate]="gpx_file?.lastModified"></app-download>

      </div>

      <button mat-stroked-button color="primary" *ngIf="!gpx_uploaded" routerLink="guide" fragment="get-gpx-file"> Wie erhalte ich eine GPX-Datei? </button>
      <button mat-stroked-button color="warn" *ngIf="gpx_uploaded" (click)="delete_gpx_file()"> Datei löschen </button>
      <button mat-stroked-button color="primary" matStepperNext [disabled]="!gpx_uploaded">Weiter</button>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Einstellungen zur Karte</ng-template>

      <div class="content-block">
        <mat-slide-toggle formControlName="create-map-pdfs">Karte als PDF beifügen</mat-slide-toggle>
        <div class="slider">
          <label>Kartenmassstab: 1:{{scale.value}}</label>
          <mat-slider #scale min="10000" max="100000" step="5000"
                      (change)="options.controls['map-scaling'].setValue($event.value)"
                      [value]="options.controls['map-scaling'].value"></mat-slider>
        </div>
      </div>

      <button mat-stroked-button color="primary" matStepperNext>Weiter</button>

    </mat-step>

    <mat-step>

      <ng-template matStepLabel>Einstellungen zur Marschzeittabelle</ng-template>

      <div class="content-block">
        <mat-slide-toggle formControlName="create-excel">Marschzeittabelle als Excel beifügen</mat-slide-toggle>

        <div class="slider">
          <label>Geschwindigkeit: {{velocity.value}} km/h</label>
          <mat-slider #velocity min="0.5" max="20" step="0.25"
                      (change)="options.controls['velocity'].setValue($event.value)"
                      [value]="options.controls['velocity'].value"
          ></mat-slider>
        </div>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Dein Name</mat-label>
          <input matInput type="text" formControlName="creator-name">
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Abmarsch Zeit</mat-label>
          <input matInput type="datetime-local" formControlName="departure-time">
        </mat-form-field>
      </div>

      <button mat-stroked-button color="primary" matStepperNext>Weiter</button>

    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Marschzeittabelle Erstellen</ng-template>
      <div class="content-block">

        <p>Nun sind wir bereit deine Marschzeittabelle zu erstellen:</p>
        <button mat-stroked-button color="primary" [disabled]="!gpx_uploaded" id="export-button"
                (click)="download_map()">
          Generieren lassen
        </button>
      </div>

    </mat-step>

  </mat-stepper>

</form>

