@if (statusManager.status != 'error') {
  <h2>Export läuft, bitte warten...</h2>
  <mat-progress-bar mode="query"></mat-progress-bar>
  <p>Die Marschzeittabelle wird erstellt, dies kann einen Moment dauern.</p>
} @else {
  <h2>Export fehlgeschlagen</h2>
  <mat-progress-bar mode="buffer" value="80" color="warn"></mat-progress-bar>
  <p>Leider konnte die Marschzeittabelle nicht erstellt werden.</p>
}
@for (old_state of statusManager.history; track old_state) {
  <p class="old_state">
    &nbsp;- <b>{{old_state?.last_change}}:</b> {{old_state?.message}}
  </p>
}
<p id="status_message" [ngClass]="{'error_message': statusManager.status == 'error'}"><b>Status: </b>{{statusManager.status_message}} <i> ({{statusManager.status}})</i></p>


@if (statusManager.status == 'error') {
  <button mat-stroked-button color="warn" routerLink="/">Neuer Versuch starten</button>
}
