<div class="footer-menu-area">

  <div class="footer-menu">

    <div class="submenu">
      <h4>Marschzeittabellen</h4>
      <span class="clickable" routerLink="/infos">Über eMeal - Marschzeittabellen</span>
      <span><br></span>
      <span class="clickable" routerLink="/planen">Mit Planen beginnen</span>
    </div>

    <hr />

    <div class="submenu">
      <h4>Kontakt & Hilfe</h4>
      <span class="clickable" routerLink="infos/kontakt">Kontakt </span>
      <span><br></span>
      <span class="clickable" routerLink="infos/datenschutz">Datenschutzbestimmungen</span>
      <span class="clickable" routerLink="infos/impressum">Impressum</span>
    </div>

    <hr />

    <div class="submenu">
      <h4>Cevi Züri 11</h4>
      <span><a href="https://zh11.ch/ueber-uns">Cevi Züri 11</a></span>
      <span><a href="https://zh11.ch/material">Materialvermietung</a></span>
      <span><a href="https://emeal.zh11.ch/infos">eMeal - Menüplanung</a></span>
      <span><a href="https://map.zh11.ch/infos">Marschzeittabellen</a></span>
      <span><br></span>
      <span><a href="https://www.cevi.ch/home/">Cevi Schweiz</a></span>
      <span><a href="https://app.programmplaner.ch/">Programmplaner</a></span>

    </div>

  </div>

</div>

<footer class="footer">
  <span><a href="https://github.com/wp99cp/menuplanung">Aktuelle Version: {{version}}</a></span>
  <span>{{copyrights}}</span>
</footer>
